<div class="bg-white">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Men</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Clothing</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{product.name}}</a>
        </li>
      </ol>
    </nav>

    <!-- Image gallery -->
    <div id="grid-images" class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
      <div class="aspect-w-6 overflow-hidden rounded-lg lg:block fixed-height">
        <img src="{{product.image1}}" alt="Car image" class="w-full h-full object-cover object-center">
      </div>
      <div class="grid grid-cols-1 gap-y-8 lg:grid">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg fixed-height">
          <img src="{{product.image1}}" alt="Black t-shirt" class="w-full h-full object-cover object-center">
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg fixed-height">
          <img src="{{product.image2}}" alt="Gray t-shirt" class="w-full h-full object-cover object-center">
        </div>
      </div>
      <div class="grid grid-cols-1 gap-y-8 lg:grid">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg fixed-height">
          <img src="{{product.image3}}" alt="Black t-shirt" class="w-full h-full object-cover object-center">
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg fixed-height">
          <img src="{{product.image4}}" alt="Gray t-shirt" class="w-full h-full object-cover object-center">
        </div>
      </div>
    </div>
    <div>
    </div>
    <!-- Product info -->
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
      <div class="lg:col-span-2 lg:pr-8 items-center">
        <div class="w-full flex lg:col-span-2 lg:pr-8 items-center justify-between">
          <div>
            <div class="flex lg:col-span-2 lg:pr-8 items-center">
              <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{product.name}}</h1> <img
                alt="Thuê xe tự lái thoải mái bonbon | Bonboncar"
                src="https://www.bonboncar.vn/_next/image?url=%2Ficons%2Ficon-xe-xin.png&w=96&q=75" class="ml-4 h-6">
            </div>
            <span id="location"><i class='bx bxs-location-plus'></i> {{product.address}}</span>
          </div>
          <div id="share-icon" class="flex lg:col-span-2 lg:pr-8 items-center">
            <i class='bx bxs-share-alt'></i>
            <span>Chia sẻ</span>
          </div>
        </div>
        <div class="w-full flex lg:col-span-2 lg:pr-8 items-center justify-between mt-10">
          <div>
            <h1 class="font-bold text-xl">Đặc điểm</h1>
            <span class="liner-green"></span>
            <div class="grid grid-cols-4 gap-4 mt-4">
              <div class="flex space-x-2">
                <i class="bx bxs-car text-green-500 text-2xl"></i>
                <div>
                  <div class="text-gray-700"><small>Số ghế</small></div>
                  <div class="text-gray-800 font-medium">5 chỗ</div>
                </div>
              </div>
              <div class="flex space-x-2">
                <i class="bx bx-signal-5 text-blue-500 text-2xl"></i>
                <div>
                  <div class="text-gray-700"><small>Truyền động</small></div>
                  <span class="text-gray-700 font-medium">Số tự động</span>
                </div>
              </div>
              <div class="flex space-x-2">
                <i class="bx bx-gas-pump text-yellow-500 text-2xl"></i>
                <div>
                  <div class="text-gray-700"><small>Nhiên liệu</small></div>
                  <span class="text-gray-700 font-medium">Xăng</span>
                </div>
              </div>
              <div class="flex space-x-2">
                <i class='bx bxs-rename text-2xl'></i>
                <div>
                  <div class="text-gray-700"><small>Tiêu hao</small></div>
                  <span class="text-gray-700 font-medium">6.4l/100km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:col-span-2 lg:pr-8 mt-10">
          <h1 class="font-bold text-xl">Mô tả</h1>
          <span class="liner-green"></span>
          <p class="mt-4">{{product.description}}</p>
        </div>
        <div class="w-full lg:col-span-2 lg:pr-8 mt-10">
          <h1 class="font-bold text-xl">Các tiện nghi khác</h1>
          <span class="liner-green"></span>
          <div class="mt-4">
            <div id="comfort" class="grid grid-cols-4 gap-4">
              <div class="flex items-center space-x-2"> <i class="bx bxs-car"></i>
                <div>
                  <div class="text-gray-700 font-medium">Bán đỗ</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class='bx bx-bluetooth'></i>
                <div>
                  <div class="text-gray-700 font-medium">Bluetooth</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-camera-home"></i>
                <div>
                  <div class="text-gray-700 font-medium">Camera 360</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-camera-off"></i>
                <div>
                  <div class="text-gray-700 font-medium">Camera cấp lé</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-video"></i>
                <div>
                  <div class="text-gray-700 font-medium">Camera hành trình</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-camera-movie"></i>
                <div>
                  <div class="text-gray-700 font-medium">Camera Lui</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class='bx bx-podcast'></i>
                <div>
                  <div class="text-gray-700 font-medium">Cảm biến lốp</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class='bx bxl-trip-advisor'></i>
                <div>
                  <div class="text-gray-700 font-medium">Cảm biến va chạm</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-shield"></i>
                <div>
                  <div class="text-gray-700 font-medium">Cảnh báo tốc độ</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-parking"></i>
                <div>
                  <div class="text-gray-700 font-medium">Cửa sổ trời</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-memory-card"></i>
                <div>
                  <div class="text-gray-700 font-medium">Định vị GPS</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-cloud"></i>
                <div>
                  <div class="text-gray-700 font-medium">ETC</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-parking"></i>
                <div>
                  <div class="text-gray-700 font-medium">Lốp dự phòng</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-disc"></i>
                <div>
                  <div class="text-gray-700 font-medium">Màn hình DVD</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class='bx bx-usb'></i>
                <div>
                  <div class="text-gray-700 font-medium">Khe cắm USB</div>
                </div>
              </div>
              <div class="flex items-center space-x-2"> <i class="bx bxs-shield"></i>
                <div>
                  <div class="text-gray-700 font-medium">Túi khí an toàn</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:col-span-2 lg:pr-8 mt-10">
          <h1 class="font-bold text-xl">Thông tin chủ xe</h1>
          <span class="liner-green"></span>
          <div class="flex mt-4 items-center">
            <div class="circle">
              <div class="circle-small"></div>
            </div>
            <p>Xe được vận hành bởi BonbonCar</p>
          </div>
        </div>
        <div class="w-full lg:col-span-2 lg:pr-8 mt-10">
          <h1 class="font-bold text-xl">Điều khoản</h1>
          <span class="liner-green"></span>
          <p class="mt-4">Quy định khác:</p>
          <ul class="list-disc pl-5">
            <li>Sử dụng xe đúng mục đích.</li>
            <li>Không sử dụng xe thuê vào mục đích phi pháp, trái pháp luật.</li>
            <li>Không sử dụng xe thuê để cầm cố, thế chấp.</li>
            <li>Không hút thuốc, nhả kẹo cao su, xả rác trong xe.</li>
            <li>Không chở hàng quốc cấm dễ cháy nổ.</li>
            <li>Không chở hoa quả, thực phẩm nặng mùi trong xe.</li>
            <li>Khi trả xe, nếu xe bẩn hoặc có mùi trong xe, khách hàng vui lòng vệ sinh xe sạch sẽ hoặc gửi phụ thu phí
              vệ sinh xe.</li>
            <li>Xe được giới hạn di chuyển ở mức 400km cho 24h, và lần lượt là 250km, 300km, 350 km cho gói 4h, 8h, 12h.
            </li>
          </ul>
          <p>Trân trọng cảm ơn, chúc quý khách hàng có những chuyến đi tuyệt vời !</p>
        </div>
        <div class="w-full lg:col-span-2 lg:pr-8 mt-10">
          <h1 class="font-bold text-xl">Chính sách hủy chuyến</h1>
          <span class="liner-green"></span>
          <table class="w-full border border-gray-300 rounded-md mt-4">
            <thead>
              <tr class="bg-gray-200">
                <th class="text-left p-2 rounded-t-md">Thời Điểm Hủy Chuyến</th>
                <th class="text-left p-2 rounded-t-md">Khách Thuê Hủy Chuyến</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-300">
                <td class="p-2">Trước Chuyến Đi > 5 Ngày</td>
                <td class="p-2">
                  <div class="flex items-center space-x-2">
                    <i class="bx bx-check text-green-500"></i>
                    <span class="text-green-500 font-medium">Hoàn tiền giữ chỗ 100%</span>
                  </div>
                </td>
              </tr>
              <tr class="border-b border-gray-300">
                <td class="p-2">Trong Vòng 5 Ngày Trước Chuyến Đi</td>
                <td class="p-2">
                  <div class="flex items-center space-x-2">
                    <i class="bx bx-x text-red-500"></i>
                    <span class="text-red-500 font-medium">Không hoàn tiền</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0 shadow-sm p-2 shadow-gray-500">
        <div class="bg-white rounded-lg max-w-md mx-auto">
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col items-center">
              <span class="w-full line-through text-gray-500"><small>{{product.price / 3.2}} đ/4 giờ</small></span>
              <span class="w-full font-medium text-[#0CAF7F]"><span class="text-2xl">{{product.price /4}}</span>/4
                giờ</span>
            </div>
            <div class="flex flex-col items-center">
              <span class="w-full line-through text-gray-500"><small>{{product.price / 2}} đ/8 giờ</small></span>
              <span class="w-full text-gray-500"><span>{{product.price / 2.5}} đ</span>/8 giờ</span>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col items-center">
              <span class="w-full line-through text-gray-500"><small>{{product.price}} đ/12 giờ</small></span>
              <span class="w-full text-gray-500"><span>{{product.price}} đ</span>/12 giờ</span>
            </div>
            <div class="flex flex-col items-center">
              <span class="w-full line-through text-gray-500"><small>{{product.price}} đ/12 giờ</small></span>
              <span class="w-full text-gray-500"><span>{{product.price}} đ</span>/12 giờ</span>
            </div>
          </div>
        </div>


        <form action="" (ngSubmit)="onSubmit()" #rentalForm="ngForm">
          <!-- Reviews -->
          <div class="mt-6 overflow-hidden">
            <div class="w-full bg-white rounded-lg">
                <div class="mb-4">
                    <h3 class="font-bold text-xl">Thời gian thuê</h3>
                    <div class="gap-4">
                        <h1 class="font-bold text-lg">Từ</h1>
                        <div class="flex relative border border-gray-300 rounded-lg">
                            <div class="w-full">
                                <input type="date" name="startDate" [(ngModel)]="rentalData.startDate"
                                       class="border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fas fa-calendar-alt absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
                                <div *ngIf="isStart" class="text-red-500 text-sm">
                                  Trường này là bắt buộc.
                              </div>
                              </div>
                            <div class="w-full">
                                <input type="time" name="startTime" [(ngModel)]="rentalData.startTime"
                                       class="border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fas fa-clock absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
                              </div>
                        </div>
                        <h1 class="font-bold text-lg">Đến</h1>
                        <div class="flex relative border border-gray-300 rounded-lg">
                            <div class="w-full">
                                <input type="date" name="endDate" [(ngModel)]="rentalData.endDate"
                                       class="border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fas fa-calendar-alt absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
                                <div *ngIf="isEnd" class="text-red-500 text-sm">
                                  Trường này là bắt buộc.
                              </div>
                              </div>
                            <div class="w-full">
                                <input type="time" name="endTime" [(ngModel)]="rentalData.endTime"
                                       class="border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fas fa-clock absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white border border-[#0CAF7F] shadow-md rounded-lg p-4">
          <div class="flex items-center space-x-2">
              <input type="radio" name="pickup" id="pickupLocation" [(ngModel)]="selectedOption" value="pickup">
              <span class="font-medium">Nhận xe tại vị trí xe</span>
              <input type="hidden" name="id" [(ngModel)]="id" value="{{product.id}}">
          </div>
          <div class="mt-4">
              <p class="font-medium">{{product.address}}</p>
              <p class="text-gray-500 text-sm">Địa điểm cụ thể sẽ được hiện thị sau khi thanh toán thành công, và thời gian lấy xe 24/24</p>
          </div>
      </div>
      
      <div class="bg-white border border-[#0CAF7F] shadow-md rounded-lg p-4 mt-4">
          <div class="flex items-center space-x-2">
              <input type="radio" name="pickup" id="deliveryLocation" [(ngModel)]="selectedOption" value="delivery">
              <h3 class="font-medium">Giao xe tận nơi</h3>
          </div>
          <p class="text-gray-500 text-sm mt-2">Chọn địa điểm</p>
          
          <!-- Input địa chỉ chỉ hiển thị khi chọn giao xe tận nơi -->
          <div *ngIf="selectedOption === 'delivery'" class="mt-2">
              <input type="text" name="delivery" [(ngModel)]="deliveryAddress" placeholder="Nhập địa chỉ giao xe"
                     class="border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
          </div>
          <div *ngIf="isValidAddress" class="text-red-500 text-sm">
            Trường này là bắt buộc.
        </div>
      </div>
          <div class="bg-white shadow-md rounded-lg p-4 mt-4">
            <div class="flex items-center justify-between">
              <span class="font-medium">Phí thuê xe</span>
              <span>{{product.price}} vnđ</span>
            </div>
            <div class="linner-gray"></div>
            <div class="flex items-center justify-between">
              <h3 class="font-medium">Chọn hoặc nhập mã khuyến mãi</h3>
              <i class="bx bx-help-circle text-gray-400 cursor-pointer"></i>
            </div>
            <div class="mt-4">
              <div class="flex items-center border rounded-md px-2 py-1">
                <input type="text" class="flex-1 focus:outline-none" placeholder="Nhập mã khuyến mãi">
                <button class="bg-[#0CAF7F] text-white px-3 py-2 rounded-md hover:bg-[#0ba778] transition-colors">Áp
                  dụng</button>
              </div>
            </div>
            <div class="linner-gray"></div>
            <div class="w-full">
              <div class="flex items-center justify-between">
                <small class="font-medium">Phí giao xe</small>
                <span>0 đ</span>
              </div>
              <div class="flex items-center justify-between">
                <small class="font-medium">Thuế VAT</small>
                <span>{{product.price*0.2}} đ</span>
              </div>
              <div class="flex items-center justify-between">
                <small class="font-medium">Tổng cộng tiền thuê</small>
                <span>{{+product.price + product.price*0.2 }} đ</span>
              </div>
              <small class="text-gray-500">Tiền giữ chỗ sẽ không được hoàn lại nếu huỷ chuyến. Tiền giữ chỗ sẽ được hoàn
                lại sau khi trả xe.</small>
              <div class="flex items-center justify-between">
                <small class="font-medium">Cọc xe</small>
                <span>{{product.price > 2000000 ? 40000000 : 30000000}} đ</span>
              </div>
              <small class="text-gray-500">Thanh toán sau khi nhận và kiểm tra xe, không nhận cọc xe máy.</small>
              <button type="submit"
                class="w-full mt-4 bg-[#0CAF7F] text-white px-4 py-3 rounded-md hover:bg-[#0ba778] transition-colors">Áp
                dụng</button>
            </div>
          </div>

          <div class="bg-white shadow-md border rounded-lg mt-4">
            <h3 class="font-medium border-t border-l border-r bg-gray-200 text-lg w-full rounded-t-lg p-2">Các chi phí
              khác</h3>
            <div class="mt-4 p-4">
              <div class="flex justify-between items-center">
                <span>Phụ phí xăng</span>
                <span class="font-medium">30.000đ / lít</span>
              </div>
              <p class="text-gray-500 text-sm mt-2">Bonbon chi trả khi vạch xăng thấp hơn lúc nhận xe. Trả lại đúng vạch
                xăng như lúc nhận để không phải trả phí này.</p>
            </div>
            <div class="linner-gray pr-4 pl-4"></div>
            <div class="mt-2">
              <div class="flex justify-between items-center pr-4 pl-4">
                <span>Phí vệ sinh</span>
                <div class="flex items-center space-x-2">
                  <span class="font-medium text-green-500">120.000đ</span>
                  <span class="text-gray-500 line-through">150.000đ</span>
                </div>
              </div>
              <p class="text-gray-500 text-sm mt-2 pr-4 pl-4">Vui lòng trả lại hiện trạng xe được vệ sinh như lúc nhận
                để không mất phí này.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>