<div class="p-4 modal-overlay">
    <div class="modal-content">
        <h2 class="text-xl font-semibold mb-4">Update Product</h2>
        <form [formGroup]="formEditCategoryGroup" (ngSubmit)="onEditSubmit()">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Product Name</label>
                <input id="name" formControlName="nameControl" type="text" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                <input id="price" formControlName="priceControl" type="number" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="deposit" class="block text-sm font-medium text-gray-700">Deposit</label>
                <input id="deposit" formControlName="depositControl" type="number" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <input id="address" formControlName="addressControl" type="text" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="description" formControlName="descriptionControl" required class="mt-1 block w-full border border-gray-300 rounded-md p-2"></textarea>
            </div>
            <div class="mb-4">
                <label for="categoryId" class="block text-sm font-medium text-gray-700">Select Category</label>
                <select formControlName="categoryIdControl" id="categoryId" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                    <option value="" disabled>Select Category</option>
                    <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <input id="city" formControlName="cityControl" type="text" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="type" class="block text-sm font-medium text-gray-700">Type</label>
                <select formControlName="typeControl" id="type" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                    <option value="" disabled>Select Type</option>
                    <option value="electric">Electric</option>
                    <option value="diesel">Diesel</option>
                    <option value="gasoline">Gasoline</option>
                </select>            
            </div>
            <div class="mb-4">
                <label for="seats" class="block text-sm font-medium text-gray-700">Seats</label>
                <input id="seats" formControlName="seatsControl" type="text" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="image1" class="block text-sm font-medium text-gray-700">Image 1 URL</label>
                <input id="image1" formControlName="image1Control" type="text" required class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="image2" class="block text-sm font-medium text-gray-700">Image 2 URL</label>
                <input id="image2" formControlName="image2Control" type="text" class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="image3" class="block text-sm font-medium text-gray-700">Image 3 URL</label>
                <input id="image3" formControlName="image3Control" type="text" class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="image4" class="block text-sm font-medium text-gray-700">Image 4 URL</label>
                <input id="image4" formControlName="image4Control" type="text" class="mt-1 block w-full border border-gray-300 rounded-md p-2">
            </div>
            <div class="flex justify-end">
                <button type="button" class="mr-2 text-gray-600 hover:text-gray-800"><a routerLink="/admin/products">Cancel</a></button>
                <button type="submit" class="bg-blue-600 text-white rounded-md px-4 py-2 hover:bg-blue-700">Save</button>
            </div>
        </form>
    </div>
</div>