

.max-w-6xl {
    max-width: 1280px;
  }
  
  #sliderHot {
    display: flex;
    justify-content: space-between;
  }
  
  #sliderHot > div {
    flex: 0 0 calc(23%);
    margin-right: 2.2%;
    margin-bottom: 1rem;
  }
  
  #sliderHot > div:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    #productSlider > div {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }