<div class="bg-white mt-10 mb-10 rounded-lg overflow-hidden">

    <div class="grid grid-cols-3 gap-4 max-w-[94%] mx-auto">
        <div class="col-span-2">
            <img src="https://www.bonboncar.vn/_next/image?url=%2Fcars%2Fimage-car.png&w=1024&q=75" alt="Car Image"
                class="w-full h-64 object-cover">
        </div>
        <div class="flex justify-between items-center bg-white rounded-lg shadow-md overflow-hidden">
            <div class="bg-white text-center rounded-md px-3 py-2 flex-1">
                <h3 class="text-[#1abc9c] text-3xl font-bold">1,000+ xe và hơn thế nữa</h3>
                <p class="text-2xl">Hãy trải nghiệm hôm nay!</p>
                <a href="#" class="bg-[#1abc9c] font-bold w-full text-white px-3 py-2 rounded-md inline-block mt-2">
                    TÌM XE
                </a>
            </div>
        </div>
    </div>
    <div class="relative bg-cover h-full bg-no-repeat bg-center max-w-[94%] mx-auto"> <img
            src="https://www.bonboncar.vn/_next/image?url=%2Fcars%2Fimage-cta-shadown.png&w=1920&q=75"
            alt="3 Bước đặt xe dễ dàng">
            <div class="absolute top-0 left-1/2 -translate-x-1/2 bg-gray max-w-[94%] mx-auto h-full grid grid-cols-3 gap-15 justify-center items-center">
            <div class="flex flex-col items-center">

                <div class="rounded-full bg-green-500 p-1 mb-2">

                    <img src="https://www.bonboncar.vn/_next/image?url=%2Fcars%2Fbenefit-1.png&w=128&q=75"
                        alt="Chọn và giới thiệu về xe" class="w-20 h-20">

                </div>

                <span class="text-white text-center">1. Chọn và giới thiệu về xe trên bonboncar.vn</span>

            </div>

            <div class="flex flex-col items-center">

                <div class="rounded-full bg-green-500 p-1 mb-2">

                    <img src="https://www.bonboncar.vn/_next/image?url=%2Fcars%2Fbenefit-2.png&w=128&q=75"
                        alt="Đặt xe trên ứng dụng" class="w-20 h-20">

                </div>

                <span class="text-white text-center">2. Thử trải nghiệm ứng dụng để đặt xe</span>

            </div>

            <div class="flex flex-col items-center">

                <div class="rounded-full bg-green-500 p-1 mb-2">

                    <img src="https://www.bonboncar.vn/_next/image?url=%2Fcars%2Fbenefit-3.png&w=128&q=75" alt="Nhận xe"
                        class="w-20 h-20">

                </div>

                <span class="text-white text-center">3. Chủ động nhận xe mới lúc mong muốn</span>

            </div>

        </div>
    </div>
</div>