<div class="bg-white rounded-lg shadow-md p-4">
    <div class="flex items-center mb-4">
        <a href="" class="block max-h-[180px] overflow-hidden rounded-md">
            <img src="https://www.bonboncar.vn/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fbonboncar-cms%2Fz5861331481154_be54e94cbe0133426a5b6a4d21982021_copy_409e048493%2Fz5861331481154_be54e94cbe0133426a5b6a4d21982021_copy_409e048493.jpg&w=1920&q=80"
                alt="Vinfast VF8 Plus 2022" class="w-full object-cover rounded-t-md">
        </a>
    </div>
    <div class="bg-white rounded-lg">
        <div class="flex items-center mb-4">
            <div>
                <h3 class="text-lg font-bold">MG RX5 2023</h3>
                <p class="text-gray-500 text-sm">Quận 1</p>
            </div>
        </div>
        <div class="flex items-center mb-4">
            <p class="line-through text-gray-500 mr-2">1100K</p>
            <p class="text-xl text-green-500 font-bold">500K/<small>24h</small></p>
        </div>
    </div>
    <hr>
    <div class="flex justify-between items-center gap-4">
        <div class="flex items-center">  
        <i class='bx bx-user text-green-500'></i>
        <p class="max-w-full truncate">5 chỗ</p>
        </div>
        <div class="flex items-center">
        <i class='bx bx-scatter-chart text-green-500'></i>
        <p class="max-w-full truncate">Số tự động</p>
        </div>
        <div class="flex items-center">
        <i class='bx bxs-ev-station text-green-500'></i>
        <p class="max-w-full truncate">Điện</p>
        </div>
        </div>
</div>