<div class="max-w-full mx-auto">
  <div class="relative overflow-hidden rounded-lg shadow-lg">
      <div id="search-car" class="bg-white w-[94%] px-6 py-4 flex justify-between items-center absolute top-4 left-4 right-4 z-10 rounded-lg shadow-md">
        <h4 class="text-lg font-semibold w-full text-[#22C55E] text-center">Chào mừng bạn đến với website đặt xe của chúng tôi, nhanh chóng, tiện lợi, an toàn!!!</h4>
      </div>

      <div class="flex transition-transform duration-500 ease-in-out" style="transform: translateX(0%);">
          <div class="w-full shrink-0">
              <img
                  src="https://storage.googleapis.com/bonboncar-cms/7d993f206578873_66d431f7ebc74_1_e8637118ee/7d993f206578873_66d431f7ebc74_1_e8637118ee.png"
                  alt="Slide 1" class="w-full h-auto rounded-lg shadow-lg">
          </div>
      </div>
  </div>
</div>
